<a href="https://colab.research.google.com/github/msvramanan/jntua/blob/master/day09(30_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Markdown
##Markdown
###Markdown
####Markdown

**Points**
*Points*
***Points***
*** Adding links to Markdown ***
[site](https://www.jntua.ac.in/)

### Inserting Image
![text](https://upload.wikimedia.org/wikipedia/en/thumb/e/e3/Jawaharlal_Nehru_Technological_University%2C_Anantapur_logo.png/220px-Jawaharlal_Nehru_Technological_University%2C_Anantapur_logo.png)

In [1]:
print("hello world!")

hello world!

In [3]:
# Variable creation
print("hello , Jntua")
print("hello, Jntua" , "|||" , "Chemical" , "|||" , "CSE" , "|||", "MCA")

hello , Jntua
hello, Jntua ||| Chemical ||| CSE ||| MCA

# Assignment

In [7]:
n1 = 100 # single variable assignment
print(n1)
a = b = c = 10 # multi variable assignment of same value
print(a,b,c)
a1,b1,c1 = 100,200,300 # multiple variable assignment with different values
print(a1,b1,c1)

100
10 10 10
100 200 300

# Data types and conversions
* int
* float
* string

In [8]:
a = 100
s1 = 10.2
s2 = "python"
print(type(a),type(s1),type(s2))

<class 'int'> <class 'float'> <class 'str'>

In [11]:
i = 100
print(type(i))
s1 = str(i)
print(type(s1))
f1 = float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [13]:
# length
a = 123456
print(len(str(a)))

6

# Reading input from user---input function

In [16]:
a = input("enter ur name :")
print(a)
print(type(a))

enter ur name :ramanan
ramanan
<class 'str'>

In [17]:
b = int(input("enter ur AGE :"))
print(b)
print(type(b))

enter ur AGE :19
19
<class 'int'>

# Operators
-Operators is a symbol used to perform a specific kind of operations

# Arithmetic Operators
- +
- -
- *
- /
- %
-

In [18]:
a = 1234
print(a+10)
print(a-10)
print(a*10)
print(a/10)
print(a%10)
print(a//10)
print(a**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

# Relational Operator
- =
- ==
- !=
- <
- >
- <=
- >=

In [19]:
x = 10
a1 = x > 15
print(a1)

False

# Logical Operators
- and
- or
- not

In [25]:
i = 100
a1 = (i>15) and (i<800)
a2 = (i>15) or (i>800)
i = not 100
print(a1)
print(a2)
print(i)

True
True
False

# Control flow statements
- conditional statements
- looping statements

# if - else statements
## syntax
# if Boolean_condition
# statements
# else:
# statements

In [30]:
# to check given is even or odd
n = int(input("enter a number"))
if n%2 == 0:
 print(n,"is even number")
else:
  print(n,"is odd number")

enter a number44
44 is even number

In [32]:
# to check given number is perfectly multiples of 3 and 5
n = int(input("enter a number"))
if n%3 == 0 and n%5 == 0:
  print(n,"perfect")
else:
  print(n,"not perfect")

enter a number20
20 not perfect

In [39]:
# to check given number is positive, negative or zero
n = int(input("enter a number"))
if n<0:
  print(n,"negative")
elif n>0:
 print(n,"positive")
else:
 print(n,"zero")

enter a number0
0 zero

In [47]:
# find the largest number among the given 3 numbers
a = int(input(a))
b = int(input(b))
c = int(input(c))
if (a>b and a>c):
  print(a,"greatest")
elif (b>a and b>c):
 print(b,"greatest")
else:
 print(c,"greatest")

4844
4548
4451
51 greatest

In [54]:
# find a leap year
n = int(input("enter a year :"))
if  (n%4==0 and n%100!=0) or n%400==0:
 print(n,"LEAP YEAR")
else:
 print(n,"NOT LEAP YEAR")

enter a year :2000
2000 LEAP YEAR